@charset "utf-8";

/****** 共通基本設定
******************************************************/
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  background-color: #fff;
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

/* 外枠・コンテンツ中央設定  */
.wrapper {
  width: 960px;
  margin: 0 auto;

}

a:link {
  font-size: 14px;
  font-weight: bold;
  color: #3e3e3e;
  /*把链接字体颜色调整*/
  text-decoration: none;
  /*去掉链接下划线*/
}

a:visited {
  color: #3e3e3e;
  /*把???颜色调整*/

}

a:hover {
  color: #7e7e7e;
  /*鼠标移动到链接会变颜色*/
}

/* ヘッダー */
.page-header h1 {
  margin: 0;
  font-size: 12px;

}

.page-header .mainvisual {
  width: 100%;
}

/* ナビゲーション */
.nav_main ul {
  display: flex;
  justify-content: space-between;
  /*  pingxing*/
}

/* コンテンツエリア設定 */

/* フッター */
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /*放在最底下*/
  border-top: 1px dotted #000;
}

.page-footer .nav_footer ul {
  margin: 0;

}

.page-footer .nav_footer ul li {
  text-align: right;

}

/****** トップページ
******************************************************/
/* メインコンテンツエリア */
.item {
  display: flex;
  margin: 100px 0;
  justify-content: space-between;
}

.item:nth-child(odd) {
  flex-direction: row-reverse;
}

.item .item-img,
.item-text {
  width: 48%;

}

.item .item-img img {
  width: 100%;
}

.item h2 {
  font-size: 42px;
  font-weight: normal;
}

/* ニュースエリア */
.news {
  width: 800px;
  margin: 0 auto 100px;
}

.news ul {
  padding-left: 40px;
  /*内边距（距离左边40px）*/
  list-style: square;
}

/****** メニューページ
******************************************************/
.main_other h2 {
  font-size: 42px;
  font-weight: normal;
}

.menu-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 100px 0;
}

.menu-nav .menu-img,
.menu-nav .menu-menu {
  width: 48%;
}

.menu-nav .menu-img img {
  width: 100%;
}

.menu-nav ul li {
  margin: 10px;

}

.menu-nav ul li a {
  font-size: 20px;
  font-weight: normal;
}

.menu-main {
  margin: 100px 0;
  text-align: center;
}

.menu-main h3 {
  font-size: 38px;
  font-weight: normal;
}

.menu-main h3#menu01 {
  color: rgb(42, 54, 83);
}

.menu-main ul li {
  margin: 10px 0;
}

/******0アクセスページ
******************************************************/
.info {
  margin: 40px 0 100px;

}

.info table th {
  padding-right: 20px;
  text-align: left;
}

/****** コンタクトページ
******************************************************/

/* お問い合わせフォーム */
.form ul {
  width: 600px;

}

.form ul li {
  display: flex;
  justify-content: space-between;
  /*对齐方式：靠右*/
  align-items: center;
  margin: 10px;

}

.form label {
  display: inline-block;
  width: 25%;
}


.form input,
.form textarea {

  width: 75%;
  padding: 10px;
  /*输入文字的边框距离*/
  border: 1px solid #000000;
  /*边框设置颜色，线条等*/
  border-radius: 5px;
  /*边框设置圆弧*/

}

.form input:focus,
.form textarea:focus {
  outline: 2px solid #383535;
  /*点击表格后，边框颜色变化*/
  background-color: #d5d0d0;
  /*点击表格后，内部颜色变化*/
}

.form button {
  width: 20%;
  padding: 8px;
  border-radius: 5px;
  background-color: #15100f;
  /*提交的按钮后，背景颜色变化*/
  color: #fff;
  /*提交的按钮后，字体颜色变化*/
  cursor: pointer;
}
.form button:hover{
  background-color: #7e7e7e;/*点击提交的按钮后，背景颜色变化*/
  color: #000000;/*点击提交的按钮后，字体颜色变化*/
}